<%= error_messages_for 'event' %>

<!--[form:event]-->
<p><label for="event_name">Name</label><br/>
<%= text_field 'event', 'name'  %></p>

<p><label for="event_start">Start</label><br/>
<%= text_field 'event', 'start'  %></p>

<p><label for="event_finish">Finish</label><br/>
<%= text_field 'event', 'finish'  %></p>

<p><label for="event_day">Day</label><br/>
<%= text_field 'event', 'day'  %></p>

<p><label for="event_color">Color</label><br/>
<%= text_field 'event', 'color'  %></p>
<!--[eoform:event]-->

