<% for column in Event.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @event.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @event %> |
<%= link_to 'Back', :action => 'showall' %>
