<table>
<tr><th>ID</th><th>Name</th><th>Day</th><th>Start</th><th>Finish</th><th>color</th><th></th></tr>
<%for event in @events do%>
  <tr>
  <td><%=event.id%></td>
  <td><%=event.name%></td>
  <td><%=event.day%></td>
  <td><%=event.start%></td>
  <td><%=event.finish%></td>
  <td><%=event.color%></td>
  <td><%=link_to "Edit", {:action => "edit", :id => event.id}%></td>
  <td><%=link_to "Delete", {:action => "destroy", :id => event}%></td>
  </tr>
<%end%>
</table>
<%= link_to "Chart", {:action => "list"}%>
<%= link_to "New", {:action => "new"}%>
